.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  margin-top: 30px;
}

.marginTop20 {
  margin-top: 20px;
}

/* CardStyles.css */
.customCard {
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  background-color: #1E2329;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  padding: 20px;
}

/* Button styles for all buttons */
.MuiButton-root {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(43, 49, 57, 1);
  opacity: 0.9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* Global Button styles */
.MuiButton-outlined {
  border-color: white !important; /* Set the border color to white */
  color: white !important;        /* Set the text color to white */
}

.MuiButton-outlined:hover {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Optional: Change background on hover */
  border-color: white !important; /* Ensure the border color stays white on hover */
}
/* Global Typography styles for h1 */
.MuiTypography-h1 {
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold; /* Make it bold */
  margin-bottom: 20px; /* Add 20px margin to the bottom */
}

/* Global Typography styles for h6 and body2 */
.MuiTypography-h6 {
  font-weight: bold;  /* Make h6 bold */
}

.MuiTypography-body2 {
  font-weight: 300;  /* Make body2 thinner */
}

/* Typography global color */
.MuiTypography-root {
  color: white;
}

/* Specific button styling for selected token */
.selectedToken {
  background-color: #1976d2 !important;
  border-radius: 20px;
}

/* Custom styles for the Plotly mode bar */
.plotly .modebar {
  background-color: rgba(50, 50, 50, 0) !important; /* Set a semi-transparent background */
  color: white !important; /* Set the color of icons/text to white */
}

/* Optional: Style individual buttons in the mode bar */
.plotly .modebar-btn {
  background-color: rgba(50, 50, 50, 0) !important; /* Semi-transparent background for buttons */
  color: white !important; /* Set button icon color to white */
}

/* Hover effect for buttons */
.plotly .modebar-btn:hover {
  background-color: rgba(255, 255, 255, 0) !important; /* Lighten the button background on hover */
}